<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ss2020.project.demorpher">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.screen.landscape" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- AboutUs -->
        <activity
            android:name=".AboutUs"
            android:parentActivityName=".MainScreen">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>

        <!-- Match Activity -->
        <activity
            android:name=".MatchPhotos"
            android:parentActivityName=".MainScreen">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>

        <!-- Demorph Activity -->
        <activity
            android:name=".DemorphPhotos"
            android:parentActivityName=".MainScreen">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>

        <!-- Take Photo Activity -->
        <activity
            android:name=".TakePhoto"
            android:parentActivityName=".MainScreen">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>

        <!-- View Photo Activity -->
        <activity
            android:name=".ViewPhotos"
            android:parentActivityName=".MainScreen">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>

        <!-- NFC Activity -->
        <activity
            android:name=".NfcScan"
            android:parentActivityName=".MainScreen">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity> <!-- Main Activity -->
        <activity android:name=".MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>